.navbar-img {
  width: 25px;
  height: 25px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.container {
  margin-top: 2%;
}
.title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
.content {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 5%;
  overflow: hidden;
}
.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
}
.content-image {
  max-height: 435px;
  max-width: 325px;
  width: 100%;
  height: 100%;
}
.col {
  min-width: 310px;
  max-width: 310px;
  max-height: 445px;
}
img {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p {
  color: #fff;
  font-size: 0.8em;
  text-align: left;
}
.fadeIn-bottom {
  top: 80%;
}
.row {
  border: solid;
  border-width: 5px;
  padding: 3%;
  background-image: url("/styles/img/fondo-pelicula.jpg");
  background-size: cover;
  padding-left: 6%;
}
.historia-bloque {
  color: antiquewhite;
  text-align: justify;
  letter-spacing: 0.07cm;
}
.mini-bio {
  display: flex;
  align-items: center;
}
.foto-perfil {
  max-width: 15%;
  border-radius: 5%;
  border: solid;
  border-width: 5%;
  border-color: black;
}
.texto-bio {
  color: antiquewhite;
  display: flex;
  align-items: end;
}
.form-text {
  color: antiquewhite;
}
.botones {
  display: flex;
  justify-content: space-between;
}
.cajaContenidos {
  background-color: #294c5c;
}
.divPelicula {
  padding-bottom: 2%;
}
.imagen-header {
  background-repeat: initial;
}
.nav-elements {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
